@model IEnumerable<MaxSoftWebSite.Models.Category>
@{
	ViewBag.Title = "ماكس سوفت";
}
<div class="alert alert-success">
	<h1 style="color: rgb(186, 64, 97); font-size: 16px; font-weight: bold; margin-top: 10px; margin-bottom: 5px;">منتجاتنا</h1>
	<div class="entry single">
		<p style="font-size: 12px; color: rgb(51, 51, 51); margin-top: 5px; margin-bottom: 5px; ">تقدم ماكس سوفت مجموعة من الانظمة المحاسبية المتطورة والمتخصصة لادارة الأنشطة التجارية الكبيرة والصغيرة  والمطاعم والمشاتل وانظمة خط الإنتاج  وغيرها من الأنشطة التجارية وأيضاً نظام الموارد البشرية، وضعت فيها مجهود سنوات وسنوات من العمل الجاد والتحليل الدقيق لمتطلبات وتطورات السوق المحلية و العالمية .</p>
		<p class="facebook">
			<a href="http://www.facebook.com/share.php?u=http://www.max-soft.com" target="_blank">
				<img style="width:20px;height:20px;margin-left:5px;margin-right:5px;" src="~/Images/facebook_32.png" alt="مشاركة على فيس بوك" title="مشاركة على فيس بوك">
			</a><a href="http://www.facebook.com/share.php?u=http://www.max-soft.com" target="_blank" title="مشاركة على فيس بوك">مشاركة على فيس بوك</a>
		</p>
	</div>
</div>
@foreach (var item in Model) {
	<div class="panel panel-primary">
		<div class="panel-body ">
			<div class="row">
				@foreach (var subItem in item.Jobs) {
					<div class="col-sm-3 thumbnail" style="margin-left:15px;margin-bottom:30px;">
						<h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
						@if (@subItem.JobImage != null) {
							<img class="img-responsive img-rounded" style="margin-bottom: 15px;" src="~/Uploads/@subItem.JobImage" />
						}
						<div style="display:block;margin-bottom:10px;">@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.JobContent).ToString()))</div>
						<div>@Html.ActionLink("التفاصيل", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-info details-btn" })</div>
					</div>
				}
			</div>

		</div>
	</div>
}
